<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="JwtSecret" value="LEGACY_NOT_USED_BUT_SHOWS_OLD_CONFIG_STYLE" />
		<add key="RequestTimeout" value="30" />
	</appSettings>
	<connectionStrings>
		<add name="Default"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=AssetFlow;Trusted_Connection=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="60" defaultUrl="~/Default.aspx" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<modules>
			<add name="RequestLoggingModule" type="AssetFlow.Legacy.Web.Modules.RequestLoggingModule, AssetFlow.Legacy.Web" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
				 type="System.Web.Handlers.TransferRequestHandler"
				 preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>